<div class="container">
  <h1>Feel free to add your quotes.</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
        <div>
          <h6 id={{i}} appStrikethrough>{{quote.name}} submitted on {{quote.completeDate|date|uppercase}}</h6>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='quotes.showDescription'>
          <app-quotes-detail [quotes]='quotes' (isComplete)='deleteQuote($event,i)'></app-quotes-detail>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
  </div>
</div>