<div class="container">
    <h1>Quotes</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>  
        <div *ngFor='let quote of quotes;let i = index'>
            <h6 id={{i}} appStrikethrough>{{quote.name}} submitted on {{quote.completeDate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
          </div>
  
          <div *ngIf='goal.showDescription'>
            <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>
      </div>
    </div>
    